body {
    margin: 0;
  }

  header {
    background: rgb(255, 255, 255);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header p {
    display: inline-block;
  }

  header ul {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
  }

  header li {
    display: inline-block;
    padding: 0px 10px;
  }

  .heroImg {
    background-color: whitesmoke;
    padding: 10px;
  }

  .content {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 2px;
    font-size: 20px;
  }

  button {
    padding: 12px;
    background-color:white;
    color: black;
    font-size: 18px;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
  }

  footer {
    background: whitesmoke;
    padding: 10px;
    color: black;
    font-size: 18px;
  }

  footer ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
  }

  footer li {
    display: inline-block;
    padding: 0px 20px;
    text-align: center;

  }
  
  .heading {
    text-align: center;
    padding: 20px 10px;
    font-size: 20px;
}  
  img {
    border-radius: 18%;
  } 
  
  .flexContainer {
    display: flex;
    padding: 0px 0px;
  }
  
  .flexContainer div {
    width: 33%;
    padding: 20px;
    text-align: center;
  }
 
  
